@import "tailwindcss";

@theme {
  --color-brand-green: #2D6A4F;
  --color-brand-red: #BA181B;
  --color-brand-black: #0B090A;
  --color-bg-soft: #F5F3F4;
}

@layer base {
  body {
    background-color: var(--color-bg-soft);
    /* This creates a very subtle gradient glow from the top right */
    background-image: radial-gradient(circle at top right, rgba(45, 106, 79, 0.03), transparent 40%),
                      radial-gradient(circle at bottom left, rgba(186, 24, 27, 0.02), transparent 40%);
    @apply antialiased min-h-screen;
  }
}